@import '../../styles/common.scss';
@import '../../styles/variables.scss';

.project {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 160px);
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    
    .project-left {
        flex: 1;

        .title-container, .desc-container {
            overflow: hidden;
        }

        h1 {
            @extend %gallient-font;
            font-size: 40px;
            font-weight: 400;
            margin: 0;
            overflow: hidden;
        }
        p {
            max-width: 65%;
        }

    }
    
    .project-right {
        flex: 2;
        overflow: scroll;
        height: 70vh;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }

        h1 {
            @extend %gallient-font;
            font-size: 7vw;
            font-weight: 400;
            margin: 0;
            overflow: hidden;
            a {
                text-decoration: none;
                color: black;
                &:hover{
                    transition: .2s;
                    font-style: italic;
                    color: $blue-color;
                }
                span {
                    position: relative;
                    display: inline-block;
                }
            }
        }
        p {
            margin: 0;
        }

        .title-desc-container {
            overflow: hidden;
            margin-top: -20px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .project{
        .project-right{
            h1 {
                font-size: 6vw;
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .project {
        width: calc(100vw - 80px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        

        .project-left {
            margin-top: 10%;
            margin-bottom: 8%;
        }

        .project-right {
            h1 {
                font-size: 10vw;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .project {
        .project-left {
            p {
                max-width: 90%;
            }
        }
        .project-right {
            h1 {
                font-size: 10vw;
            }
            p {
                font-size: 14px;
            }
            .title-desc-container {
                margin-top: -10px;
            }
        }
    }
}

