@import '../../styles/common.scss';
@import '../../styles/variables.scss';

.contact {
    color: white;
    width: calc(100vw - 160px);
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    // justify-content: center;
    

    &-content {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: calc(100vh - 400px);

        //border: solid 1px white;
        //backdrop-filter: blur(6px);
        //background-color: rgba(000,000, 000,.2);
        //padding: 40px;

        .top, .bottom {
            width: 100%;
            max-width: 800px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .top { 

            h1 {
                @extend %gallient-font;
                font-size: 6vw;
                font-weight: 400;
                line-height: 6vw;
                margin: 30px 0;
                color: white;
                mix-blend-mode: difference;
            }

            img {
                display: inline-block;
                width: 5vw;
                mix-blend-mode: difference;
            }
        
            p {
                font-size: 13px;
                line-height: 25px;
                margin-bottom: 30px;
                mix-blend-mode: difference;
            }
        }

        .decorate-line {
            width: 100%;
            max-width: 800px;
            border-top: solid 1px white;
            margin-bottom: 30px;
            mix-blend-mode: difference;
        }
        
        .bottom {

            &-left, &-right {
                display: flex;
                flex-direction: column;

                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    font-size: 30px;
                    margin-bottom: 15px;
                    font-weight: 800;

                    &:hover{
                        color: $bright-green-color;
                    }
                }
            }

            &-right {
                align-items: flex-end;
            }


        }
    }
}

@media screen and (max-width: 700px) {
    .contact {
        width: calc(100vw - 80px);

        &-content {

            .top {
                flex-direction: column;

                h1 {
                    font-size: 15vw;
                    line-height: 15vw;
                }

                img {
                    width: 15vw;
                }

                p {
                    font-size: 2.5vw;
                    line-height: 3.5vw;
                }
            }
        }
    }
}