@import '../../styles/common.scss';
@import '../../styles/variables.scss';

.work {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 160px);
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
    
    .work-left {
        @extend %gallient-font;
        flex: 1;

        h1 {
            font-size: 70px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 30px;
        }

        aside {
            ul {
                list-style-type: none;
                padding: 0;

                .nav-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 20px;
                    color: gray;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }

                .decorate-line {
                    height: 25px;
                    border: solid 1px $black-color;
                    position: absolute;

                }

                li {
                    text-decoration: none;
                    font-size: 30px;
                    margin-left: 20px;
                }

                .isSelected {
                    color: $black-color;
                }
            }
        }
    }
    
    .work-right {
        flex: 2;

        .job-info {
            margin-bottom: 60px;

            .job-info-title {
                @extend %gallient-font;
                font-size: 30px;
                display: inline-block;
            }

            .job-company{
                @extend %gallient-font;
                font-size: 30px;
                display: inline-block;
                margin-left: 15px;
                text-decoration: none;
                color: $bright-green-color;
                font-weight: 500;

                &:hover {
                    color: $black-color;
                }
            }

            .job-duration {
                font-size: 16px;
                margin: 5px auto;
                display: block;
            }
        }

        .job-desc {
            .desc-item {
                display: flex;
                margin-bottom: 30px;

                p {
                    margin: 0 0 0 10px;
                    font-size: 13px;
                    line-height: 30px;
                    letter-spacing: 1px;
                    width: 80%;
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .work {
        width: calc(100vw - 80px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: auto;
        

        .work-left {
            margin-top: 10%;
            margin-bottom: 8%;
            h1 {
                font-size: calc(7rem);
                margin-bottom: 0;
            }
            aside ul {
                .nav-item {
                    margin-bottom: 10px;
                }
                li {
                    font-size: 25px;
                }
            }
        }

        .work-right {
            .job-info {
                margin-bottom: 40px;
    
                .job-info-title {
                    display:block;
                }
    
                .job-company{
                    margin-left: 0px;
                    margin-right: 8px;
                    font-size: 16px;
                    color: $black-color;
                    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
                    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                    sans-serif;

                    &::after {
                        content: ' | ';
                    }
                }
    
                .job-duration {
                    font-size: 16px;
                    margin: 5px auto;
                    display: inline-block;
                }
            }
        }
    }
}