.canvas {
    touch-action: none;
    position: fixed;
    width: 40vw;
    height: 30vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

canvas {
    overflow: visible !important;
}

.align-left {
    left: calc(-100vw/1.5);
}

.align-right {
    // left: -70vw;
}

.none {
    display: none;
}