@import './styles/variables.scss';
@import './styles//common.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAE4DF;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-size: 62.5;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  // cursor: none;
}

.no-verticalScroll {
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.black-bg {
  background-color: $black-color;
}

